*{
    padding: 0;
    margin: 0;
}

.container {
    display: relative;
}

.overlay_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .4);
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;
    user-select: none;

    animation-name: aparecer;
    animation-duration: 800ms;
}
.overlay_modal.active{
    display: flex;
}

.overlay_modal .container_modal{
    background-color: white;
    width: 500px;
    height: 256px;
    border-radius: 5px;
    position: relative;

    animation: cair 600ms;
}

.overlay_modal .container_modal .header_modal{
    display: flex;
    padding: 0px 15px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}
.overlay_modal .container_modal .header_modal .botaoX{
    margin-left: auto;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.overlay_modal .container_modal .content_modal{
    padding: 5px 10px;
}
.overlay_modal .container_modal .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.205);

    display: flex;
    justify-content: flex-end;
}

.overlay_modal .container_modal .footer .botao_modal{
    padding: 10px;
    margin-left: 8px;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;

}

.overlay_modal .container_modal .footer .botao_modal.botao_close{
    background-color: #545b62;
}
.overlay_modal .container_modal .footer .botao_modal.botao_blue{
    background-color: #0062cc;
}

.open_modal{
    margin: 50px;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes cair{
    from{
        transform: translate(0px, -500px);
    }
    to{
        transform: translate(100px, 70px);
    }
}