*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(160, 137, 137);
}
.navegador{
    background-color: azure;
    position: fixed;
    width: 100%;
    top: 0;
}
.navegador .menu{
    display: flex;
    flex-direction: column;
    height: 0px;
    padding: 0px;
    overflow: hidden;
    transition: height 770ms;
    position: absolute;
    background-color: rgba(240, 255, 255, 0.404);
    width: 100%;
}
.navegador .menu .links, .nav-esquerdo .links{
    text-decoration: none;
    color: black;
    align-items: center;
    padding: 5px;
    padding-left: 20px;
}
.navegador .menu .links:hover, .nav-esquerdo .links:hover {
    background-color: rgb(160, 137, 137);
}     
.navegador .menu.active{
    height: 112px;
}
.navegador .nav-cabecalho{
    display: flex;
    padding: 20px;
    align-items: center;
}
.navegador .nav-cabecalho .meu-botao{
    margin-left: auto;
    padding: 10px 20px;
    border: 2px solid rgb(160, 137, 137);
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}
.nav-esquerdo{
    display: none;
}
/*responsivo*/
@media screen and (min-width: 768px){
    .navegador .nav-cabecalho .meu-botao{
        display: none;
    }

    .navegador .menu{
        display: none;
    }
    .nav-esquerdo{
        position: fixed;
        display: flex;
        left: 0;
        height: calc(100vh - 61px);
        background-color: azure;
        width: 30%;
        bottom: 0;
        flex-direction: column;
    }

    .conteudo{
        margin-left: 30%;
    }
}